
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  height: 100vh;
  overflow-x: hidden;
  padding-top: 7rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media screen and (max-width: 56.25em) {
  .row {
    padding: 0 5rem;
  }
}

body {
  font-family: "Nunito", sans-serif;
}


.header-text {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.header-text__one {
  font-size: 5.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.header-text__two {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 4rem;
}

.header-text .btn {
  font-family: "Mukta";
}